In [61]:
import pandas as pd
import numpy as np

column_labels = ['a', 'b', 'c', 'd', 'e']
row_index = ['mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun']
df = pd.DataFrame(np.random.rand(7,5), index=row_index, columns=column_labels)

In [86]:
#mask = [False, True, False, True, True, True, False]
#len(mask)
#df[(df['e'] < .5) & (df['c'] > .5)]
#df[['e','a']][mask]

df[df['a']>.2]
#df['a']>.2

              a         b         c         d         e
mon    0.552989  0.355456  0.767728  0.399868  0.732951
tues   0.305603  0.731346  0.463026  0.271193  0.342370
wed    0.551242  0.640057  0.910720  0.631704  0.786112
thurs  0.805862  0.143283  0.661963  0.903836  0.491034
fri    0.995437  0.578230  0.580551  0.800595  0.951150
sat    0.744159  0.170908  0.946195  0.790608  0.419239

In [105]:
#On Your own
myseries = pd.Series(np.random.randn(10), index=['a','b','c','d','e','f','g','h','i','j'])
myseries

a   -0.934004
b   -0.607488
c   -1.038393
d    0.654657
e    1.291708
f    0.500121
g   -0.392199
h    0.474977
i   -0.290297
j    0.919470
dtype: float64

In [106]:
myseries.head()

a   -0.934004
b   -0.607488
c   -1.038393
d    0.654657
e    1.291708
dtype: float64

In [107]:
myseries.tail()

f    0.500121
g   -0.392199
h    0.474977
i   -0.290297
j    0.919470
dtype: float64

In [108]:
myseries.describe()

count    10.000000
mean      0.057855
std       0.812576
min      -1.038393
25%      -0.553666
50%       0.092340
75%       0.616023
max       1.291708
dtype: float64

In [109]:
myseries.iloc[9]

0.9194700910174447

In [110]:
myseries.loc['f':]

f    0.500121
g   -0.392199
h    0.474977
i   -0.290297
j    0.919470
dtype: float64

In [114]:
#myseries['d']<.2
#mask = [True, False, False, True, True, False, False, True, True, False]

#myseries[mask]
print myseries[myseries <.2]
print myseries[myseries > 0]
print myseries[(myseries >-.5) & (myseries <0)]

a   -0.934004
b   -0.607488
c   -1.038393
g   -0.392199
i   -0.290297
dtype: float64
d    0.654657
e    1.291708
f    0.500121
h    0.474977
j    0.919470
dtype: float64
g   -0.392199
i   -0.290297
dtype: float64

In [98]:
myseries = pd.Series(range(-10,10))
myseries

0    -10
1     -9
2     -8
3     -7
4     -6
5     -5
6     -4
7     -3
8     -2
9     -1
10     0
11     1
12     2
13     3
14     4
15     5
16     6
17     7
18     8
19     9
dtype: int64

In [99]:
myseries[myseries > 0]

11    1
12    2
13    3
14    4
15    5
16    6
17    7
18    8
19    9
dtype: int64

In [100]:
myseries[myseries < 0]

0   -10
1    -9
2    -8
3    -7
4    -6
5    -5
6    -4
7    -3
8    -2
9    -1
dtype: int64

In [101]:
myseries[(myseries>1) & (myseries < 11)]

12    2
13    3
14    4
15    5
16    6
17    7
18    8
19    9
dtype: int64

In [104]:
print "hello"

hello