In [1]:
import pandas as pd
import numpy as np

In [72]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
s

a    1.369308
b   -0.258124
c   -0.491202
d   -1.338695
e    0.442292
f    0.034936
g   -0.246424
dtype: float64

In [39]:
# head of series

pd.Series.head(s)
#s.head(5)

a    0.132170
b   -1.306518
c    0.894886
d   -0.203964
e    2.183866
dtype: float64

In [40]:
# tail of series

pd.Series.tail(s)

c    0.894886
d   -0.203964
e    2.183866
f    2.679825
g    0.312521
dtype: float64

In [54]:
# summary stats

#pd.Series.describe(s)
#s.describe(s)
pd.DataFrame(s.describe()).T

   count      mean       std       min       25%       50%       75%       max
0    7.0  0.670398  1.382585 -1.306518 -0.035897  0.312521  1.539376  2.679825

In [59]:
# select by location c to g

s.loc['c':]

c    0.894886
d   -0.203964
e    2.183866
f    2.679825
g    0.312521
dtype: float64

In [61]:
# select just b

s.loc['b']

-1.3065177427261696

In [47]:
# slice for rows 1-3

s[:3]

a    0.132170
b   -1.306518
c    0.894886
dtype: float64

### Boolean indexing

In [45]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [46]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [47]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [50]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [51]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64