# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [154]:
#imported the data of sat_scores.csv
import csv

sat_data_path = '../assets/sat_scores.csv'
rows = []

with open(sat_data_path, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)

##### 5. Print the data

In [155]:
#Called all the data 
rows

[['State', 'Rate', 'Verbal', 'Math'],
 ['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NB', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [156]:
#Popped out the first list in rows
header = rows.pop(0)
print header

['State', 'Rate', 'Verbal', 'Math']

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [157]:
#Made a for loop to call all states, based on abbreviation, to a new list. If length of first column is longer than 2
#characters, it would pop out the list
state = []
for index in rows:
    if len(index[0]) > 2:
        rows.pop()
    else:
        state.append(index)
        
state

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NB', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551']]

##### 8. Print the types of each column

In [158]:
#Wrote a for looop to iterate through each list in the list state. Used and index to call each column and determined
#all of the indicies are string types
for index in state:
    print type(index[0]), type(index[1]), type(index[2]), type(index[3])

<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>
<type 'str'> <type 'str'> <type 'str'> <type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [159]:
#Yes, as we see above, all of the types are strings. We must convert the 2nd, 3rd, and 4th columns to integers
#DONT FORGET TO ADD THEM IN A LIST!

rate = []
verbal = []
math = []

for index in state:
    x = int(index[1])
    y = int(index[2])
    z = int(index[3])
    rate.append(x)
    verbal.append(y)
    math.append(z)
    
print "Rate:", rate
print "Verbal:", verbal
print "Math:", math

Rate: [82, 81, 79, 77, 72, 71, 71, 69, 69, 68, 67, 65, 65, 63, 60, 57, 56, 55, 54, 53, 53, 52, 51, 51, 34, 33, 31, 26, 23, 18, 17, 13, 13, 12, 12, 11, 11, 9, 9, 9, 8, 8, 8, 7, 6, 6, 5, 5, 4, 4, 4]
Verbal: [509, 499, 511, 495, 520, 501, 500, 511, 506, 510, 501, 508, 493, 491, 499, 486, 482, 526, 498, 527, 493, 485, 514, 498, 523, 509, 539, 534, 539, 527, 543, 562, 551, 576, 550, 547, 561, 580, 577, 559, 562, 567, 577, 564, 584, 562, 575, 593, 577, 592, 566]
Math: [510, 513, 515, 505, 516, 499, 499, 506, 500, 501, 499, 510, 499, 489, 501, 488, 474, 526, 499, 527, 499, 515, 510, 517, 525, 515, 542, 439, 539, 512, 542, 553, 542, 589, 550, 545, 572, 589, 580, 554, 568, 561, 577, 562, 596, 550, 570, 603, 582, 599, 551]

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [160]:
#database = {k:[x[1:] for x in state] for k in rows}

TypeError: unhashable type: 'list'

##### 11. Create a dictionary with the values for each of the numeric columns

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [162]:
x = sorted(rate)
print x[0]
print x[-1]

4
82

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.