In [1]:
import pandas as pd
import numpy as np

In [7]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
s

a   -1.623304
b    0.027860
c    0.783332
d   -1.108675
e    1.636977
f   -1.769911
g    0.789384
dtype: float64

In [12]:
# head of series

print pd.Series.head(s)
s.head(5)

a   -1.623304
b    0.027860
c    0.783332
d   -1.108675
e    1.636977
dtype: float64

a   -1.623304
b    0.027860
c    0.783332
d   -1.108675
e    1.636977
dtype: float64

In [13]:
# tail of series

pd.Series.tail(s)

c    0.783332
d   -1.108675
e    1.636977
f   -1.769911
g    0.789384
dtype: float64

In [5]:
# summary stats

pd.Series.describe(s)

count    7.000000
mean     0.486659
std      1.425612
min     -0.638453
25%     -0.441514
50%     -0.038142
75%      0.832632
max      3.300971
dtype: float64

In [6]:
# select by location c to g

s.loc['c':]

c   -0.526540
d    1.447328
e   -0.638453
f    3.300971
g   -0.356489
dtype: float64

In [41]:
# select just b

s.loc['b']

0.023265944389124635

In [42]:
# slice for rows 1-3

s[:3]

a    2.069906
b    0.023266
c    0.815262
dtype: float64

### Boolean indexing

In [45]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [46]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [47]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [50]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [51]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64