In [2]:
import pandas as pd
import numpy as np

In [3]:
# create a small dictionary with different data types

dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

dft

          A  B    C          D    E      F  G
0  0.124323  1  foo 2001-01-02  1.0  False  1
1  0.915588  1  foo 2001-01-02  1.0  False  1
2  0.756097  1  foo 2001-01-02  1.0  False  1

In [4]:
# There is a really easy way to see what kind of dtypes 
# are in each column. 

dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [5]:
# If a pandas object contains data multiple dtypes IN A 
# SINGLE COLUMN, the dtype of the column will be chosen 
# to accommodate all of the data types (object is the 
# most general).
# these ints are coerced to floats

pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [6]:
# string data forces an ``object`` dtype

pd.Series([1, 2, 3, 6., 'foo'])

0      1
1      2
2      3
3      6
4    foo
dtype: object

In [7]:
# The method get_dtype_counts() will return the number 
# of columns of each type in a DataFrame:

dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [8]:
# create a small data frame. 

df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0  1.311787  3.272482 -0.232633 -1.158928
1 -2.273003 -0.483701 -2.329339  1.292918
2 -0.845788 -0.266092  0.481273  1.144631
3 -1.011894 -0.208624 -0.639912 -0.010970
4  0.526910  2.611166 -0.090229 -0.087187

In [9]:
# Use df.apply to find the square root of all the values. 
# NaN means not a number

#df.apply(np.sqrt)

In [10]:
# find the mean of all of the columns

df.apply(np.mean, axis=0)

a   -0.458398
b    0.985046
c   -0.562168
d    0.236093
dtype: float64

In [11]:
# find the mean of all of the rows

df.apply(np.mean, axis=1)

0    0.798177
1   -0.948281
2    0.128506
3   -0.467850
4    0.740165
dtype: float64

In [12]:
# Let's create a random array with 50 numbers, ranging 
# from 0 to 7.

data = np.random.randint(0, 7, size = 50)
data

array([1, 3, 4, 2, 1, 0, 6, 5, 4, 5, 4, 5, 1, 3, 6, 3, 4, 2, 5, 0, 4, 4, 3,
       6, 0, 1, 6, 5, 3, 5, 6, 4, 1, 0, 1, 6, 0, 6, 1, 6, 2, 6, 4, 6, 2, 2,
       4, 1, 1, 6])

In [13]:
# convert the array into a series

s = pd.Series(data)

In [14]:
# How many of each number is there in the series? Enter 
# value_counts()

pd.value_counts(s)

6    11
4     9
1     9
5     6
3     5
2     5
0     5
dtype: int64