In [18]:
import pandas as pd
import numpy as np

rock = pd.read_csv('./assets/datasets/rock.csv')

rock.describe()

In [19]:
print np.median(rock)
print np.mean(rock)

43.0
First?        1.000000
Year?         0.741256
PlayCount    16.872646
F*G          15.048430
dtype: float64

In [20]:
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [21]:
rock.tail()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

In [22]:
rock.columns

Index([u'Song Clean', u'ARTIST CLEAN', u'Release Year', u'COMBINED', u'First?',
       u'Year?', u'PlayCount', u'F*G'],
      dtype='object')

In [30]:
rock.rename(columns = {'Song Clean':'Song Title', 'ARTIST CLEAN':'Artist',
                        'Release Year':'Year Released', 'COMBINED': 'Song and Artist',
                      'PlayCount':'Play Count', 'F*G':'Year x Play Count'},inplace = True)

In [31]:
rock.tail()

,Song Title,Artist,Year Released,Song and Artist,First?,Year?,Play Count,Year x Play Count
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2